/* Background Animations */
@keyframes slideRight {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}

@keyframes slideLeft {
  from { transform: translateX(-50%); }
  to { transform: translateX(0); }
}